h1 {
  color: white;
  padding: 10px;
  background-color: #3399ff;
  font-family: Helvetica, sans-serif;
}

h2 {
  color: #333;
  border-bottom: 2px solid #3399ff;
}

ul {
  list-style-type: square;
}

/* Фон для формул */
.MathJax_Display {
  padding: 0.5em;
  background-color: #eaeff3;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
